<div class="actions">
  <a href="/posts/new">New post</a>
</div>
<% @posts.each do |post| %>
<div class="post">
  <div>
    Posted by <%= post.user.username %> on
    <%= post.date_posted.strftime("%b %-d %Y") %>
  </div>
  <h2>
    <a href="/posts/<%= post.id %>"><%= post.title %></a>
  </h2>
  <p>
    <%= post.content.slice(0, 200) %>
  </p>
</div>
<% end %>
