<% if logged_in? %>
<div class="actions">
  <a class="btn btn-default" href="/posts/new">New post</a>
</div>
<% end %>
<form action="/">
  <input name="q" type="text" value="<%= @q %>" placeholder="Search">
  <button class="btn btn-default">Search</button>
</form>

<% @posts.each do |post| %>
<div class="post">
  <div>
    Posted by <a href="/users/<%= post.user.username %>"><%= post.user.username %></a>
    on <%= post.date_posted.strftime("%b %-d %Y") %>
    - <%= post.estimated_reading_time %>
  </div>
  <h2>
    <a href="/posts/<%= post.id %>"><%= post.title %></a>
  </h2>
  <p>
    <%= render_markdown(post.content.slice(0, 200)) %>
  </p>
</div>
<% end %>
