<div class="actions">
  <% if is_owner?(@post) %>
    <a href="/posts/<%= @post.id %>/edit">Edit</a>
    <form action="/posts/<%= @post.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete</button>
    </form>
  <% end %>
</div>

<div>
  Posted by <a href="/users/<%= @post.user.username %>"><%= @post.user.username %></a>
  on <%= @post.date_posted.strftime("%b %-d %Y") %>
  - <%= @post.estimated_reading_time %>
</div>
<h2><%= @post.title %></h2>
<p>
  <%= render_markdown(@post.content) %>
</p>
<div class="post-stats">
  <span><%= @post.view_count %> views</span>
  <% if logged_in? %>
    <% if liked?(@post) %>
      <form action="/likes" method="post">
        <input type="hidden" name="post_id" value="<%= @post.id %>">
        <input type="hidden" name="_method" value="delete">
        <button>Unlike</button>
      </form>
    <% else %>
      <form action="/likes" method="post">
        <input type="hidden" name="post_id" value="<%= @post.id %>">
        <button>Like</button>
      </form>
    <% end %>
  <% end %>
  <span><%= @post.likes.length %> likes</span>
</div>

<div class="comments">
  <% if logged_in? %>
    <% if @comment && !@comment.valid? %>
      <div class="error">
        The following errors occurred:
        <ul>
          <% @comment.errors.messages.each_pair do |field, messages| %>
            <% messages.each do |message| %>
              <li><%= "#{field} #{message}" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <form action="/comments" method="post">
      <textarea name="content" id="" rows="5" placeholder="Leave a comment"><%= @comment ? @comment.content : "" %></textarea>
      <input type="hidden" name="post_id" value="<%= @post.id %>">
      <button>Post comment</button>
    </form>
  <% end %>

  <% @post.comments.each do |comment| %>
    <div class="comment">
      <div>
        <time><%= comment.date_posted.strftime("%b %-d %Y @ %l:%M %p")%></time>
      </div>
      <div class="content">
        <span class="author"><a href="/users/<%= comment.user.username %>"><%= comment.user.username %></a></span>
        <%= render_markdown(comment.content) %>
      </div>
    </div>
  <% end %>
</div>
