<div class="actions">
  <% if is_owner?(@post) %>
    <a href="/posts/<%= @post.id %>/edit">Edit</a>
    <form action="/posts/<%= @post.id %>" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>Delete</button>
    </form>
  <% end %>
</div>

<div>
  Posted by <%= @post.user.username %> on
  <%= @post.date_posted.strftime("%b %-d %Y") %>
</div>
<h2><%= @post.title %></h2>
<p>
  <%= @post.content %>
</p>
<div class="post-stats">
  <span><%= @post.view_count %> views</span>
</div>
