<div class="post">
  <div class="actions">
    <% if is_owner?(@post) %>
      <a href="/posts/<%= @post.id %>/edit">Edit</a>
      <form class="inline-form" action="/posts/<%= @post.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button class="link">Delete</button>
      </form>
    <% end %>
  </div>

  <div>
    Posted by <a href="/users/<%= @post.user.username %>"><%= @post.user.username %></a>
    on <%= @post.date_posted.strftime("%b %-d %Y") %>
    - <%= @post.estimated_reading_time %>
  </div>
  <h1><%= @post.title %></h1>
  <p>
    <%= render_markdown(@post.content) %>
  </p>
  <div class="post-stats">
    <span><i class="fa fa-eye" aria-hidden="true"></i> <%= @post.view_count %> views</span>
    <% if logged_in? %>
      <% if liked?(@post) %>
        <form class="inline-form" action="/likes" method="post">
          <input type="hidden" name="post_id" value="<%= @post.id %>">
          <input type="hidden" name="_method" value="delete">
          <button class="link" title="Unlike"><i class="fa fa-heart" aria-hidden="true"></i></button>
        </form>
      <% else %>
        <form class="inline-form" action="/likes" method="post">
          <input type="hidden" name="post_id" value="<%= @post.id %>">
          <button class="link" title="Like"><i class="fa fa-heart-o" aria-hidden="true"></i></button>
        </form>
      <% end %>
    <% end %>
    <span><%= @post.likes.length %> likes</span>
  </div>
</div>

<div class="comments">
  <% if logged_in? %>
    <% if @comment && !@comment.valid? %>
      <div class="error">
        The following errors occurred:
        <ul>
          <% @comment.errors.messages.each_pair do |field, messages| %>
            <% messages.each do |message| %>
              <li><%= "#{field} #{message}" %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
    <form action="/comments" method="post">
      <textarea name="content" id="" rows="5" placeholder="Leave a comment"><%= @comment ? @comment.content : "" %></textarea>
      <input type="hidden" name="post_id" value="<%= @post.id %>">
      <button class="btn btn-default">Post comment</button>
    </form>
  <% end %>

  <% @post.comments.each do |comment| %>
    <div class="comment">
      <div>
        <time><%= comment.date_posted.strftime("%b %-d %Y @ %l:%M %p")%></time>
      </div>
      <div class="content">
        <span class="author"><a href="/users/<%= comment.user.username %>"><%= comment.user.username %></a></span>
        <%= render_markdown(comment.content) %>
      </div>
    </div>
  <% end %>
</div>
