<h1><%= @user.username %></h1>
<p>
  <dl>
    <dt>Joined</dt>
    <dd><%= @user.date_joined.strftime("%b %-d %Y")%></dd>
    <dt>Followers</dt>
    <dd><a href="/users/<%= @user.username %>/followers"><%= @user.followers.length %></a></dd>
    <dt>Following</dt>
    <dd><a href="/users/<%= @user.username %>/followees"><%= @user.followees.length %></a></dd>
  </dl>

  <% if logged_in? && @user.id != current_user_id %>
    <% if following?(@user) %>
      <form action="/follows" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <button class="btn">Unfollow</button>
      </form>
    <% else %>
      <form action="/follows" method="post">
        <input type="hidden" name="user_id" value="<%= @user.id %>">
        <button class="btn btn-default">Follow</button>
      </form>
    <% end %>
  <% end %>
</p>

<h2>Posts</h2>
<% @user.posts.each do |post| %>
  <div class="post">
    <div>
      Posted on <%= post.date_posted.strftime("%b %-d %Y") %>
      - <%= post.estimated_reading_time %>
    </div>
    <h2>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
    </h2>
    <p>
      <%= render_markdown(post.content.slice(0, 200)) %>
    </p>
  </div>
<% end %>

<h2>Liked posts</h2>
<% @user.likes.each do |like| %>
  <div class="post">
    <div>
      Posted by <a href="/users/<%= like.post.user.username %>"><%= like.post.user.username %></a>
      on <%= like.post.date_posted.strftime("%b %-d %Y") %>
      - <%= like.post.estimated_reading_time %>
    </div>
    <h2>
      <a href="/posts/<%= like.post.id %>"><%= like.post.title %></a>
    </h2>
    <p>
      <%= render_markdown(like.post.content.slice(0, 200)) %>
    </p>
  </div>
<% end %>
